pipeline/PL_MIGRATE_FILES_TO_FOLDERS.json
{
	"name": "PL_MIGRATE_FILES_TO_FOLDERS",
	"properties": {
		"activities": [
			{
				"name": "GetMetadataInfo",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_BINARY_DATASET",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetMetadataInfo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadataInfo').output.childItems",
						"type": "Expression"
					},
					"batchCount": 10,
					"activities": [
						{
							"name": "SwitchCaseBasedOnFileType",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "FileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@split(item().name, '.')[1]",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "parquet",
										"activities": [
											{
												"name": "CopyParquetFiles",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_BINARY_COPY_FILES",
														"type": "DatasetReference",
														"parameters": {
															"FolderName": "ready-datasets",
															"FileName": {
																"value": "@variables('FileNameTest')",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_BINARY_COPY_FILES",
														"type": "DatasetReference",
														"parameters": {
															"FolderName": "ParquetFiles",
															"FileName": {
																"value": "@variables('FileNameTest')",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									},
									{
										"value": "csv",
										"activities": [
											{
												"name": "CopyCsvFiles",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_BINARY_COPY_FILES",
														"type": "DatasetReference",
														"parameters": {
															"FolderName": "ready-datasets",
															"FileName": {
																"value": "@variables('FileNameTest')",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_BINARY_COPY_FILES",
														"type": "DatasetReference",
														"parameters": {
															"FolderName": "CsvFiles",
															"FileName": {
																"value": "@variables('FileNameTest')",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									},
									{
										"value": "json",
										"activities": [
											{
												"name": "CopyJsonFiles",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_BINARY_COPY_FILES",
														"type": "DatasetReference",
														"parameters": {
															"FolderName": "ready-datasets",
															"FileName": {
																"value": "@variables('FileNameTest')",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_BINARY_COPY_FILES",
														"type": "DatasetReference",
														"parameters": {
															"FolderName": "JsonFiles",
															"FileName": {
																"value": "@variables('FileNameTest')",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								]
							}
						},
						{
							"name": "FileName",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "FileNameTest",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"FileNameTest": {
				"type": "String"
			}
		},
		"annotations": []
	}
}